/*********** ELEMENTS ***********/
@font-face {
  font-family: bungeeFont;
  src:url("../../res/bungee.ttf");
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  // min-height: 40em;
  background-image: url("../../res/bg.svg");
  // background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-color: blue;
}

.settings {
  position: absolute;
  display: flex;
  top: 1em;
  right: 1em;
}

.bt_sound_off {
  width: 6vw;
  height:6vw;
  fill:black;
}

.bt_sound {
  width: 6vw;
  height:6vw;
  display: none;
  fill:black;
}

.bt_fullscreen {
  width: 6vw;
  height: 6vw;
  fill:black;
}

svg:hover{
  fill: gray;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  font-style: normal;
}

.logo {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  &__img {  
    display: flex;
    align-items: center;
    width: 20%;
  }
}

.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scores_panel{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../../res/bg_scores.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 10%;
  // background-color: aqua;

  .content{
    width: 100%;
    display: grid;
    grid-column: 3;
    grid-template-columns: 1fr 1.8fr 1fr;
  }
  .score {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 0.3fr 1.5fr;
    justify-items: center;
  }
  span{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: bungeeFont;
    font-size: 16vw;
    // margin-bottom: -7%;

    //  background-color: blue;
  }
}

.buttons_panel{
  width: 100%;
  display: flex;
  margin-bottom: 10%;
  // background-color: yellow;
}

.buttons {
  margin-top: 0.5%;
  margin-bottom: 4%;
  display: flex;
  width: 100%;
}

.buttons_team {
  display: flex;
  width: 50%;
  justify-content: center;
  align-self: center;
}

.button {
  position: relative;
  border-radius: 50%;
  border: 0.8vw solid white;
}

.big {
  width: 18vw;
  height:18vw;
}

.small {
  width: 11vw;
  height:11vw;
}

.button_icon {
  position: absolute;
  top: 50%;
  left: 50%;
}

.plus {
  width: 75%;
  height: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.right{
  margin-left: 8%;
}

.minus {
  width:100%;
  height: 100%;
  transform: translate(-52%, -52%) scale(1.7);
  -ms-transform: translate(-52%, -52%) scale(1.7);
}

.red {
  background-color: #E4272D;
}

.blue {
  background-color: #32448D;
}

.team{
  width: 100%;
  // background-color: red;
}

@media screen 
  // and (min-width: 320px) 
  // and (max-width: 767px) 
  and (orientation: landscape) {
    .scores_panel{
      margin-top: 0%;
    }  
    .buttons_panel{
      margin-bottom: 0%;
    }
    .settings {
      position: absolute;
      top: auto;
      bottom: 0em;
      right: 1em;
    }
}
